/*Style dla media 992*/
@media all and (min-width: 992px){
	#left-aside, #right-aside{
		flex:1;
	}
	article{
		flex: 2;
	}
}

/*Style dla media 768 max 991*/
@media all and (min-width: 768px) and (max-width: 991px) {
	section{
		flex-wrap: wrap;

	}
	article{
		order: 1;
		width: 80%;
	}
	#right-aside{
		width: 20%;
		order: 2;
	}
	#left-aside{
		width: 100%;
		order: 3;
	}
}


/*Style dla media max 767*/
@media all and (max-width: 767px) {
	section{
		width: 100%;
		flex-direction: column;
	}
	aside, article{
		flex:1;
	}
}