/*Style dla media 768 max 991*/
@media all and (min-width: 768px) and (min-width: 991px) {
	article{
		flex:3;
	}
	#right-aside{
		flex:1;
	}
	#left-aside{
		width: 100%;
	}
}


/*Style dla media max 767*/
@media all and (max-width: 767px) {
	section{
		width: 100%;
		flex-direction: column;
	}
	aside, article{
		flex:1;
	}
}